<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="conteiner">
        <div class="caixa-img">
            <div class="img">
                <img src="imagens/Café_AcauaNovo.png" alt="">
            </div>
            <div class="txt">
                <h1>O Café Acauã Novo é uma variedade proveniente de vários cruzamentos e que foi desenvolvido por meio de<br>
                     diversas seleções de diferentes campos de produção. Ela vem se destacando no mercado por ser uma variedade<br>
                      mais resistente aos períodos de estiagem e também a doenças, como ferrugem e nematoides.
                </h1>
                <h1>
                    Essa nova versão do Acauã foi lançada em 2014, mas muita coisa aconteceu até seu lançamento oficial, ainda<br>
                     mais se pensarmos que as pesquisas em torno da variedade começaram lá em 1970, quando a fundação<br>
                      Procafé, responsável pelos resultados, ainda se chamava Instituto Brasileiro do Café.
                </h1>
                <h1>
                    A nova varietal advém do cruzamento entre a espécie Mundo Novo e Sarchimor 1668, com seus resultados<br>
                     sendo observados em cafezais no Sul de Minas. Uma outra vantagem é que a planta de adaptou bem a manejos<br>
                      com menos tecnologia, o que abre a possibilidade da variedade ser cultivada por pequeno produtores.
                </h1>

                <a href="">Fonte:https://icafebr.com.br/curiosidades/cafeacaua-novo-caracteristicas-diferencas-comoplantar-e-onde-<br>
                    comprar/?expand_article=1
                </a>
            </div>
        </div>
    </div>
</body>
</html>