html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* ou 'row' se desejar que os elementos fiquem lado a lado */
}

.caixa-img .img {
    margin-left: 30px;
    height: 200px;
    width: 750px;
    background-color: blue;
    border-end-end-radius: 35px;
    border-end-start-radius: 35px;
    border-top-right-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.caixa-img .img img{
    width: 670px;
    height: 140px;
    
}

.txt h1{
    font-size: 10px;
}