<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho" id="cabecalho">
        
        <div class="cabecalho-container">
            <img src="Imagem/Logo_Sitio.png" alt="Logo do Sítio" class="logo-img">
            
            <div class="botao">
                <div class="imagem-cafe">
                    <img src="Imagem/cafe.png" alt="" class="cafe-img" width="45px" height="45px">
                </div>
                <div class="link-div" onclick="abrirPagina('PaginasInternas/CafeAcaua/index.html')">
                    <p class="til-botao">Café Acauã</p>
                </div>
                <div class="link-div" onclick="abrirPagina('PaginasInternas/CafeAgroflorestal/index.html')">
                    <p class="til-botao">Café Agroflorestal</p>
                </div>
                <div class="link-div" onclick="abrirPagina('PaginasInternas/CafeAsaBranca/index.html')">
                    <p class="til-botao">Café Asa Branca</p>
                </div>
                <div class="link-div" onclick="abrirPagina('PaginasInternas/CafeSiriema/index.html')">
                    <p class="til-botao">Café Siriema</p>
                </div>
                <div class="link-div" onclick="abrirPagina('PaginasInternas/CafeArara/index.html')">
                    <p class="til-botao">Café Arara</p>
                </div>
                <div class="link-div" onclick="abrirPagina('PaginasInternas/CafeGuara/index.html')">
                    <p class="til-botao">Café Guará</p>
                </div>
                <div class="link-div" onclick="abrirPagina('PaginasInternas/Sobre/index.html')">
                    <p class="til-botao">Sobre</p>
                </div>

                <div class="link-div" onclick="abrirPagina('PaginasInternas/Desenvolvedores/index.html')">
                    <p class="til-botao">Desenvolvedores</p>
                </div>
                <div class="dropdown" id="btnDownload">
                    <div class="link-div" onclick="toggleDropdown()">
                        <p class="til-botao">Download</p>
                    </div>

                    <div id="dropdown-menu" class="dropdown-menu">

                        <div class="dropdown-title">Downloads:</div>

                        <p onclick="baixarArquivo('todas')">Todas as Camadas (ZIP)</p>
                        <p onclick="baixarArquivo('kmz')">KML do Sítio</p>
                        <p onclick="baixarArquivo('shp')">Shapefiles</p>
                    </div>
                </div>
            </div>

            <div class="social-icons">
                <a href="https://facebook.com/seuPerfil" target="_blank" class="icon-social">
                    <svg width="28" height="28" viewBox="0 0 24 24" fill="#1877F2">
                        <path d="M24 12.073c0-6.627-5.373-12-12-12S0 
                        6.373 0 12.073c0 5.99 4.388 10.954 10.125 
                        11.854v-8.385H7.078v-3.47h3.047V9.413c0-3.007 
                        1.792-4.669 4.533-4.669 1.312 0 2.686.235 
                        2.686.235v2.953h-1.513c-1.491 
                        0-1.953.925-1.953 1.874v2.25h3.328l-.532 
                        3.47h-2.796v8.385C19.612 23.027 24 18.062 24 
                        12.073z"/>
                    </svg>
                </a>
                
                <a href="https://instagram.com/seuPerfil" target="_blank" class="icon-social">
                    <svg width="28" height="28" viewBox="0 0 24 24" fill="#E4405F">
                        <path d="M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2zm0 1.5A4.25 4.25 0 0 0 3.5 7.75v8.5A4.25 4.25 0 0 0 7.75 20.5h8.5A4.25 4.25 0 0 0 20.5 16.25v-8.5A4.25 4.25 0 0 0 16.25 3.5h-8.5zM12 7.25a4.75 4.75 0 1 1 0 9.5a4.75 4.75 0 0 1 0-9.5zm0 1.5a3.25 3.25 0 1 0 0 6.5a3.25 3.25 0 0 0 0-6.5zm4.88-.63a.88.88 0 1 1 0 1.76a.88.88 0 0 1 0-1.76z"/>
                    </svg>
                </a>
            </div>
            
        </div>
    </header>
    <button class="openbtn" onclick="toggleNav()">☰</button>

     <!-- ✅ Menu lateral COM A GALERIA -->
    <div id="mySidebar" class="sidebar">
        <!-- ✅ Botões dentro do menu lateral (somente mobile) -->
        <div class="botao-menu-mobile">

            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/CafeAcaua/index.html')">
                    <p class="til-botao">Café Acauã</p>
            </div>

            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/CafeAgroflorestal/index.html')">
                <p class="til-botao">Café Agroflorestal</p>
            </div>

            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/CafeAsaBranca/index.html')">
                <p class="til-botao">Café Asa Branca</p>
            </div>

            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/CafeSiriema/index.html')">
                <p class="til-botao">Café Siriema</p>
            </div>

            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/CafeArara/index.html')">
                <p class="til-botao">Café Arara</p>
            </div>

            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/CafeGuara/index.html')">
                <p class="til-botao">Café Guará</p>
            </div>



            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/Galeria/index.html')">
                <p class="til-botao">Galeria</p>
            </div>

            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/Sobre/index.html')">
                <p class="til-botao">Sobre</p>
            </div>

            <div class="download-wrapper">
                <div class="link-div-mobile download-button" onclick="toggleDownload()">
                    <p class="til-botao">Download</p>
                </div>

                <div id="download-content" class="download-content">
                    <p onclick="baixarArquivo('todas')">Todas as Camadas (ZIP)</p>
                    <p onclick="baixarArquivo('kmz')">KML do Sítio</p>
                    <p onclick="baixarArquivo('shp')">Shapefiles</p>
                </div>
            </div>

            <div class="link-div-mobile" onclick="abrirPagina('PaginasInternas/Desenvolvedores/index.html')">
                <p class="til-botao">Desenvolvedores</p>
            </div>

        </div>

        

        

        <div class="gallery-container">
            <button class="btn-voltar-galeria" onclick="voltarMenu()">
                ⟵ Voltar
            </button>

            <button onclick="scrollUp()" class="scroll-btn">
                <img src="Imagem/Seta.png" alt="Up">
            </button>

            <div class="gallery">
                <img loading="lazy" src="Galeria/1.jpg">
                <img loading="lazy" src="Galeria/2.jpg">
                <img loading="lazy" src="Galeria/3.jpg">
                <img loading="lazy" src="Galeria/4.jpg">
                <img loading="lazy" src="Galeria/5.jpg">
                <img loading="lazy" src="Galeria/6.jpg">
                <img loading="lazy" src="Galeria/7.jpg">
                <img loading="lazy" src="Galeria/8.jpg">
                <img loading="lazy" src="Galeria/9.jpg">
                <img loading="lazy" src="Galeria/10.jpg">
                <img loading="lazy" src="Galeria/11.jpg">
            </div>

            <button onclick="scrollDown()" class="scroll-btn-baixo">
                <img src="Imagem/Seta_baixo.png" alt="Down">
            </button>
        </div>
        
    </div>

    <div id="conteudo" style="display:none; width:100%; height:calc(100dvh - 70px);"></div>

    <div id="main">

        <div id="map"></div>
        <!-- Conteúdo principal -->
         <div id="conteudo" style="
            display:none;
            width:100%;
            height:calc(100vh - 70px); 
            position:relative;
        ">
    </div>

    <!-- 🔙 Botão de voltar -->
    <button id="btnVoltarMapa" class="btn-voltar-mapa" onclick="voltarParaMapa()">
        ←
    </button>

    <!-- Botão único -->
    <button id="btnMenuUnico" class="btn-menu-unico" onclick="toggleMenuUnico()">LEGENDA</button>

    <!-- Caixa unificada -->
    <div id="boxMenuUnico" class="box-menu-unico">

        <h3>🗺️ Mapas Base</h3>

        <label class="menu-radio">
            <input type="radio" name="basemap" value="osm">
            OpenStreetMap
        </label>


        <label class="menu-radio">
            <input type="radio" name="basemap" value="google_hyb" checked>
            Google Híbrido
        </label>

        <label class="menu-radio">
            <input type="radio" name="basemap" value="esri">
            ESRI WorldImagery
        </label>

        <hr>

        <h3>Legenda</h3>

        <div class="item-legenda">
            <input type="checkbox" checked onchange="toggleLayer('linhas_cafe')">
            <span class="cor cor-verde"></span> Linhas de Plantio
        </div>

        <div class="item-legenda">
            <input type="checkbox" checked onchange="toggleLayer('pontos_cafe')">
            <span class="cor cor-marrom"></span> Pontos de Café
        </div>

        <div class="item-legenda">
            <input type="checkbox" checked onchange="toggleLayer('perimetro')">
            <span class="cor cor-vermelho"></span> Perímetro
        </div>

    </div>

    

    <script src="script.js"></script>
</body>
</html>


