<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home - Mapas</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Escolha um Mapa</h1>

    <div class="cards">

      <!-- SÍTIO ECOLÓGICO -->
      <div class="card">
        <img class="sitio" src="img/Logo_Sitio.png" alt="Sítio Ecológico">
        <h2>Sítio Ecológico</h2>
        <a href="../SitioEcologico/index.html" class="botao">Abrir</a>
      </div>

      <!-- LIMITE MUNICIPAL -->
      <div class="card">
        <img src="img/limite.png" alt="Limite de Jacareí">
        <h2>Limite Municipal</h2>
        <a href="../LimiteMunicipal/index.html" class="botao">Abrir</a>
      </div>

      <!-- ASSENTAMENTO PA EGÍDIO BRUNETTO -->
      <div class="card">
        <img src="img/assentamento.png" alt="Assentamento PA Egídio Brunetto">
        <h2>PA Egídio Brunetto</h2>
        <a href="../Assentamentopaegidiobrunetto/index.html" class="botao">Abrir</a>
      </div>

    </div>
  </div>
</body>
</html>
